// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

#masthead { margin: 20px 0 25px 0; }

.site-title.h2 { font-weight: 700; }

@include media-breakpoint-down(xs) { 
	#masthead {
		text-align: center;
	}
 }
